<p>
  <b>Name:</b>
  <%=h @note.name %>
</p>

<p>
  <b>X:</b>
  <%=h @note.x %>
</p>

<p>
  <b>Y:</b>
  <%=h @note.y %>
</p>

<p>
  <b>Width:</b>
  <%=h @note.width %>
</p>

<p>
  <b>Height:</b>
  <%=h @note.height %>
</p>

<p>
  <b>Color:</b>
  <%=h @note.color %>
</p>


<%= link_to 'Back to graphs', graphs_path %>
