<%= javascript_include_tag :defaults %>
<%= javascript_include_tag :mindwiki_graph %>
<%= stylesheet_link_tag :mindwiki_graph %>
<div class="graphmenu_container">
  <table class="graphmenu">
    <td><b>Graph name: </b><%= @graph.name %></td>
    <td><b> Functionality: </b><%= link_to 'Back to graph list', graphs_path %></td>
    <td><b> Help: </b>You can create new notes by double clicking on the app window</td>
  </table>
</div>

<div class="mindwiki_viewport" id="vport">
<!-- Hope you have JavaScript enabled :) -->
</div>
