<!-- This horrible mess of a file is quite temporary for testing and demoing. -->
<style>
.note
{
        position: absolute;
        border: 2px solid #000;
        top: 100px;    
        left: 100px;   
        width: 300px; 
        height: 200px;
        background-color: yellow;
        color: #000;
}
</style>

<script src="/javascripts/jquery-1.2.6.min.js"></script>
<script src="/javascripts/ui/ui.core.js"></script>
<script src="/javascripts/ui/ui.draggable.js"></script> 
<script src="/javascripts/ui/ui.selectable.js"></script>
<script src="/javascripts/ui/ui.resizable.js"></script>
<script src="/javascripts/raphael.js"></script>
<script>
function createNote() {
  var newNote = document.createElement('div');
  newNote.className = "note";
  $(newNote).append("<h2>A new note</h2><p>This doesn't save to db, yet. Refresh to delete.</p>");
  $(newNote).append("<p><table><td>Edit note</td><td> Delete note</td></table></p>");
  $(newNote).resizable().draggable();
  document.body.appendChild(newNote);
};
</script>

<p>
  <b>Name:</b>
  <%=h @graph.name %>
</p>
<div class="graphmenu_container">
  <table class="graphmenu">
    <td><%= link_to 'Back to graph list', graphs_path %></td>
    <td><%= link_to " New note traditionally", "/notes/new/"+params[:id] %></td>
    <td><a href="javascript:void(0)" onclick="createNote()"> New note by jQuery</a></td>
  </table>
</div>

<% @graph.notes.each do |n| %>
  <!-- Traditional view commented out
  <div style="background-color:<%= n.color %>; layer-background-color:<%= n.color %>;">
    <h4><%= n.name %></h4>
    <p><%= (RedCloth.new n.article.content).to_html %></p>
    <p><table><td>Edit note</td>
              <td><%= link_to " Delete note", "/notes/destroy/#{n.id}?graph_id=#{params[:id]}" %></td>
    </table></p>
   </div>
   -->

      <script>
        // might be better to make an object model for these ... this is just a test
        var newNote = document.createElement('div');
        newNote.className = 'note'; // default style
        $(newNote).css({backgroundColor: '<%= n.color %>', top: '<%= n.y %>px', left: '<%= n.x %>px', width: '<%= n.width %>px', height: '<%= n.height %>px'});
        $(newNote).append("<h2><%= n.name %></h2>"); // show title

        // This is ridiculous, and most likely does not work well
        $(newNote).append("<%= (RedCloth.new n.article.content).to_html.gsub("\n","<br />").gsub("\"","") %>");

	$(newNote).append("<p style=\"background-color: #aaaaaa\"><table><td>Edit note</td><td><%= (link_to " Delete note", "/notes/destroy/#{n.id}?graph_id=#{params[:id]}").gsub("\"","") %></td></table></p>");

        $(newNote).resizable().draggable();
        document.body.appendChild(newNote);
      </script>
           
<% end %>


