<p>
  <b>Start:</b>
  <%=h @edge.source_id %>
</p>

<p>
  <b>End:</b>
  <%=h @edge.target_id %>
</p>

<p>
  <b>Directed:</b>
  <%=h @edge.directed %>
</p>

<p>
  <b>Name:</b>
  <%=h @edge.name %>
</p>

<p>
  <b>Color:</b>
  <%=h @edge.color %>
</p>


<%= link_to 'Edit', edit_edge_path(@edge) %> |
<%= link_to 'Back', edges_path %>
